.header{
    padding: clamp(15px, 1.93vw, 37px) clamp(12px, 8.44vw, 162px);
    display: flex;
    align-items: center;
}
.logo {
    width: clamp(160px, 11.77vw, 226px);
}
.logo a{
    display: block;
}
.headerFilter{
    width: calc(100% - clamp(195px, 14.11vw, 271px));
    display: flex;
    align-items: center;
    padding-left: clamp(12px, 5.05vw, 97px);
    padding-right: clamp(12px, 6.04vw, 116px);
    gap: clamp(6px, 0.52vw, 10px);
}
.h_filter {
    border: 1px solid #D8D8D9;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: clamp(12px, 0.86vw, 16.5px) clamp(16px, 1.04vw, 20px);
    font-size: clamp(14px, 0.83vw, 16px);
    color: #666;
    gap: 10px;
    line-height: 0.9;
    min-width: clamp(140px, 8.44vw, 162px);
    cursor: pointer;
}
.h_filter img{
    height: clamp(15px, 0.94vw, 18px);
    filter: brightness(0) saturate(100%) invert(45%) sepia(0%) saturate(3053%) hue-rotate(201deg) brightness(86%) contrast(91%);
}
.h_search {
    width: 100%;
    position: relative;
}
.h_search input {
    border: 1px solid #D8D8D9;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: clamp(12px, 0.86vw, 16.5px) clamp(16px, 1.04vw, 20px);
    padding-left: clamp(35px, 2.53vw, 48.5px);
    font-size: clamp(14px, 0.83vw, 16px);
    color: #666;
    width: 100%;
    line-height: 0.9;
    outline: none;
}
.h_search .search_icon{
    position: absolute;
    left: clamp(16px, 1.15vw, 22px);
    top: 0;
    bottom: 0;
    margin: auto;
    width: clamp(14px, 0.86vw, 16.5px);
    filter: brightness(0) saturate(100%) invert(39%) sepia(1%) saturate(786%) hue-rotate(341deg) brightness(101%) contrast(93%);
}