<header class="header">
    <div class="logo">
        <a href="javascript:void(0)">
            <img src="assets/images/itm_logo.svg" alt="ITech Mission" />
        </a>
    </div>
    <div class="headerFilter">
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/images/filter_icon.svg" alt="Filter" /> Filter
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
        <div class="search">
            <input type="Search" placeholder="Search" />
            <img src="assets/images/search.svg" alt="Search" />
        </div>
    </div>
    <div class="humburger"></div>
</header>