.header{
    padding: clamp(15px, 1.93vw, 37px) clamp(12px, 8.44vw, 162px);
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
}
.logo {
    width: clamp(160px, 11.77vw, 226px);
}
.logo a{
    display: block;
}
.headerFilter{
    width: calc(100% - clamp(195px, 14.11vw, 271px));
    display: flex;
    align-items: center;
    padding-left: clamp(12px, 5.05vw, 97px);
    padding-right: clamp(12px, 6.04vw, 116px);
    position: relative;
}
.h_filter_box {
    gap: clamp(6px, 0.52vw, 10px);
}
.h_filter {
    border: 1px solid #D8D8D9;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: clamp(12px, 0.86vw, 16.5px) clamp(16px, 1.04vw, 20px);
    font-size: clamp(14px, 0.83vw, 16px);
    color: #666;
    gap: 10px;
    line-height: 0.9;
    min-width: clamp(140px, 8.44vw, 162px);
    cursor: pointer;
}
.h_filter img{
    height: clamp(15px, 0.94vw, 18px);
    filter: brightness(0) saturate(100%) invert(45%) sepia(0%) saturate(3053%) hue-rotate(201deg) brightness(86%) contrast(91%);
}
.h_filter_dropdown{
    position: absolute;
    top: clamp(52px, 3.33vw, 64px);
    left: 0;
    width: 100%;
    border: 1px solid #D8D8D9;
    border-radius: 20px;
    background: #fff;
    z-index: 1;
    display: none;
    overflow: hidden;
}
.h_filter_dropdown.show{
    display: flex;
}

.h_filter_dropdown .hfd_left {
    min-width: clamp(260px, 15.63vw, 300px);
    width: clamp(260px, 15.63vw, 300px);
    background: #F7F7F7;
    border-right: 1px solid #D8D8D9;
}
.h_filter_dropdown .hfd_left h4 {
    color: #666;
    font-size: clamp(10px, 0.63vw, 12px);
    line-height: 1.5;
    padding: clamp(10px, 0.83vw, 16px) clamp(12px, 1.56vw, 30px) 6px;
}
.h_filter_dropdown .hfd_left ul {
    border-top: 1px solid var(--colorD8D8D9);
}
.h_filter_dropdown .hfd_left ul li {
    border-bottom: 1px solid var(--colorD8D8D9);
}
.h_filter_dropdown .hfd_left ul li a {
    width: 100%;
    padding: clamp(10px, 0.83vw, 16px) 9px clamp(10px, 0.83vw, 16px) clamp(15px, 1.56vw, 30px);
    font-size: clamp(13px, 0.83vw, 16px);
    font-weight: 500;
    color: var(--color313842);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h_filter_dropdown .hfd_left ul li a span.filter_count {
    border: 1px solid var(--colorD8D8D9);
    background: var(--colorfff);
    width: clamp(24px, 1.56vw, 30px);
    height: clamp(24px, 1.56vw, 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    line-height: 1;
    font-size: clamp(11px, 0.73vw, 14px);
    color: #666;
}
.h_filter_dropdown .hfd_left ul li a:hover, .h_filter_dropdown .hfd_left ul li.active a{
    background: #EDEDED;
}
.hfd_right {
    width: 100%;
}
.hfd_right .hdfr_top{
    padding: clamp(20px, 2.08vw, 40px) clamp(12px, 1.04vw, 20px);
}
.hdfrt_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hdfrt_top p {
    font-size: clamp(12px, 0.73vw, 14px);
    color: #666;
    line-height: 1.5;
}
.hdfrt_top button.btn_reset {
    border: none;
    background: none;
    padding: 0;
    gap: 5px;
    display: flex;
    align-items: center;
    color: #318BF2;
    font-size: clamp(12px, 0.73vw, 14px);
    transition: all 0.3s ease-in-out;
}
.hdfrt_top button.btn_reset img {
    width: clamp(14px, 0.83vw, 16px);
    filter: brightness(0) saturate(100%) invert(40%) sepia(96%) saturate(780%) hue-rotate(185deg) brightness(98%) contrast(94%);
}
.hdfrt_top button.btn_reset:hover{
    color: var(--colorHover);
}
.hdfrt_top button.btn_reset:hover img{
    filter: var(--filterHover);
}


.h_search {
    width: 100%;
    position: relative;
}
.h_search input {
    border: 1px solid #D8D8D9;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: clamp(9px, 0.7vw, 13.5px) clamp(16px, 1.04vw, 20px);
    padding-left: clamp(35px, 2.53vw, 48.5px);
    font-size: clamp(14px, 0.83vw, 16px);
    color: #666;
    width: 100%;
    line-height: 0.9;
    outline: none;
}
.h_search .search_icon{
    position: absolute;
    left: clamp(16px, 1.15vw, 22px);
    top: 0;
    bottom: 0;
    margin: auto;
    width: clamp(14px, 0.86vw, 16.5px);
    filter: brightness(0) saturate(100%) invert(39%) sepia(1%) saturate(786%) hue-rotate(341deg) brightness(101%) contrast(93%);
}
